body {
    background-color: rgba(255, 255, 255, 0);

    /* A temporary background colour */
    /*background-color: rgba(158, 158, 158, 0.2);*/
}

/* Dimensions

    Designer's Canvas SIZE {W, H} : 1000 x 1310

    Visual (White) Paddings till Brorders { L = 45px, R = 46 }
    ??? 1 px is the difference between them

    DistanceL (RightBorderEdge, Right Shadowed Zone) = 2px
    DistanceR (RightBorderEdge, Right Shadowed Zone) = 7px

    Working WIDTH: 918px = 1000 - (43 + 39)
*/


.wrapper_core {
    width: 918px;
/*    height: 1310px;*/

    /* Left, Right gaps between outer edge
        and border or shadow (other effects) edges
    */
    padding-left: 43px;
    padding-right: 39px;

    margin: 0 auto;


    background-color: rgba(255,255, 255, 1.0);

}

/* This is the core Header Container holding { Login, BG, core horMenu } in it.
    W: 918 = 1000 - (43 + 39)
    H: 314
*/
.header_space {
    width: 912px;

    height: 314px;

    /* 20161129 : L/3->1 => we have to add corresponding marginLeft for headers { one, Logo, Menu }*/
    margin: 17px 7px 0 0px;
}

/* It contains 'Phone Contact info', 'Login/Reg form', 'Navigation Tab' */
/* 908 = 918 - hor_margin('header_space')*/
.header_one {
    width: 908px;
    height: 37px;

    /* 20161129: the marL of 3px is added after marL@Header-space is decreased at 3px */
    margin-left: 3px;
}

/* Contact Info container

    ==> There is the BG-Icon in the left padding area
    ==> An icon of a Doc
*/
.contact_info {
    float: left;


    height: 22px;
    padding-left: 26px;

    margin-left: 6px;
    margin-top: 5px;

    margin-bottom: 10px;
}

.phone_info {
    float: left;

    color: rgba(98, 104, 108, 1.0);

    font: 18px Arial;
    line-height: 22px;

    /* Das ist gut ! Se la magie ! */
    letter-spacing: 0.018em;
}

.phone_info:first-child {
    position: relative;
}

.phone_info:first-child::before {
    content: '';

    left: -26px;
    position: absolute;

    width: 22px;
    height: 22px;

    border-radius: 50%;

    /* There should be an icon with White phoneTube on Circle filled with gradient */
    background-image:
        url("../img/hdr-contact-bg.svg"),
        linear-gradient(
            0deg,
            rgba(70, 124, 150, 1.0),
            rgba(25, 87, 120, 1.0) 30%,
            rgba(20, 76, 111, 1.0) 50%,
            rgba(15, 60, 96, 1.0) 70%,
            rgba(13, 54, 91, 1.0) 100%
        );
        background-repeat: no-repeat, no-repeat;
        background-size: 16px 16px, 22px 22px;
        background-position: center, 0 0;
}

.phone_info:nth-child(2) {
    margin-left: 8px;
}


/* Login form : Log In, Create User, Restor User Creds

    ==> There is the BG-Icon in the left padding area
    => An icon of a Man
*/
/*
    DIMs : Total Heigth = 27px
    Top/Bottom Borders { 1 + 1 = 2px}, Padding { T/3, B/4 }
    Content = 18px = 27 - 2 - (3 + 4)

    Width = 496-24/PL = 472
*/
#user_login {
    float: left;
    width: 472px;
    height: 18px;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 24px;


    margin-left: 16px;

    /* I see the VISUAL TOP & BOTTOM borders in Photoshop. But those borders are NOT STROKED by Photoshop !!!! */
/*    border: 1px solid rgba(179, 195, 207, 1.0);*/
    border-top: 1px solid rgba(179, 195, 207, 1.0);
    border-bottom: 1px solid rgba(179, 195, 207, 1.0);

    border-radius: 3px;

    background-image: url("../img/icon-avatar-login.svg"),
        linear-gradient(
            0deg,
            rgba(70, 124, 150, 1.0),
            rgba(25, 87, 120, 1.0) 30%,
            rgba(20, 76, 111, 1.0) 50%,
            rgba(15, 60, 96, 1.0) 70%,
            rgba(13, 54, 91, 1.0) 100%
        );
    background-repeat: no-repeat, no-repeat;
    background-size: 15px 19px, auto auto;
    background-position: 6px 4px, 0 0;

    box-shadow: 4px 4px 9px -2px rgba(115, 115, 111, 0.9);
}

/* Full Login-button DIMs : 115 x 18
    { Border: 1+1; LeftPad: 4;
        Content: W = 109 = (115 - 1*2 - 4)
                H = 16 = (18 - 2)
    }
*/
input[name="user_name"],
input[name="user_password"]
{
    float: left;
    width: 109px;
    height: 16px;

    padding: 0;
    padding-left: 4px;

    border: 1px solid rgba(155, 159, 161, 1.0);
    border-radius: 1px;

    color: rgba(153, 161, 164, 1.0);

    font: 11px "Lucida Sans Unicode", sans-serif;
    line-height: 16px;
}

input[name="user_password"] {
    margin-left: 6px;
    padding-left: 5px;
    padding-left: 4px;
}

/* There no borders, so Hight is longer ! */
input[name="submit_in"]
 {
    float: left;
    height: 18px;
    padding-top: 1px;
    padding-right: 3px;
    padding-left: 4px;

    border-style: none;

    margin-left: 3px;

    background-color: transparent;

    color: rgba(255, 255, 255, 1.0);

    font: 11px "Lucida Sans Unicode", sans-serif;
    line-height: 18px;
}

/* The vertical Char-based bar is used a separator between 2 buttons */
.vert_char_bar {
    float: left;
    height: 18px;

    background-color: transparent;

    color: rgba(255, 255, 255, 1.0);

    font: 11px "Lucida Sans Unicode", sans-serif;
    line-height: 18px;
}

input[name="submit_reg"]
 {
    float: left;
    height: 18px;
    padding: 0 4px;
    padding-top: 1px;
    padding-left: 2px;

    border-style: none;

    background-color: transparent;

    color: rgba(255, 255, 255, 1.0);

    font: 11px "Lucida Sans Unicode", sans-serif;
    line-height: 18px;
}

input[name="submit_restore"] {
    float: left;
    height: 18px;
    padding: 0 4px;

    padding-top: 1px;

    border-style: none;

    margin-left: 12px;

    background-color: transparent;
    color: rgba(190, 190, 190, 1.0);

    font: 11px "Lucida Sans Unicode", sans-serif;
    line-height: 18px;

    letter-spacing: 0.04em;
    text-decoration: underline;
}

/* Compact Navi Region
    DIMs : 77 x 21
        Border: 2 = 1 + 1
        Pads : T/2, B/6 => 8Vert
            L/9, R/12
        Content: H/11 = 21 - (2 * 1) - (2/T + 6/B)
                W/54 = 77 - (2 * 1) - (9 + 12)
*/
.navi_site {
    float: left;
    width: 54px;
    height: 11px;
/*    padding: 2px 12px 6px 9px;*/
    padding-top: 2px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 9px;

    border-radius: 8px;
    border: 1px solid rgba(212, 215, 217, 1.0);

    margin-top: 2px;
    margin-left: 17px;

    background-color: white;

    box-shadow: 1px 1px 10px -4px rgba(20, 17, 12, 1.0);
}

.navi_home {
    float: left;
    width: 11px;
    height: 11px;

    background-image: url("../img/icon-home-my-01-02.svg");
    background-size: 11px;
    background-repeat: no-repeat;
}

.navi_sitetree {
    float: left;
    width: 14px;
    height: 11px;

    margin-left: 8px;

    background-image: url("../img/icon-sitetree-my-01-01.svg");
    background-size: 14px 11px;
    background-repeat: no-repeat;
}

.navi_email {
    float: left;
    width: 12px;
    height: 11px;

    margin-left: 9px;

    background-image: url("../img/icon-mail-my-01-01.svg");
    background-size: 12px 11px;
    background-repeat: no-repeat;
}

/* Header 02, the Logo and Backgrounds
    Dims : 908 x 237
*/
.header_logo {
    overflow: hidden;

    width: 908px;
    height: 237px;

    margin-left: 3px;

    background-image:
        url(../img/bg-tyre-sample.png),
        radial-gradient(
            /* L307 X 607 Y 237 */
            circle 337px at 607px 197px,
            rgba(0, 188, 212, 1.0) 190px,
            /* 280 px */
            rgba(192, 173, 207, 0.12) 290px,
            rgba(255, 255, 255, 0.0)),
        linear-gradient(
            90deg,
            rgba(12, 21, 35, 1.0),
            rgba(15, 27, 45, 1.0) 35px,
            rgba(20, 34, 58, 1.0) 93px,
            rgba(27, 45, 73, 1.0) 246px,
            rgba(30, 48, 77, 1.0) 293px,
            rgba(34, 54, 87, 1.0) 387px,
            rgba(38, 60, 81, 1.0) 844px,
            rgba(14, 24, 35, 1.0) 908px
        );
    background-position: right top, right, right;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
/*
.header_logo::after {
    display: block;
    content: '';
    height: 0;
    visibility: hidden;
    clear: both;
}*/


/* A help to cover the floated areas of the document */
.clearfix::after {
    display: block;
    content: '';
    visibility: hidden;
    height: 0;
    clear: both;
}

.slogan_space {
    float: left;

    width: 267px;
    height: 121px;

    margin-top: 50px;

    background-color: rgba(0, 0, 0, 0.12);
}



.slogan_one {
    margin-top: 51px;

    color: rgba(203, 203, 203, 1.0);

    font: 31px/56px "Lucida Sans Unicode", sans-serif;

    line-height: 36px;

    text-indent: 5px;

    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.7);
}

.slogancore {
    font-size: 56px;
    font-family: "Microsoft Sans Serif", sans-serif;
}

.sloganpoint {
    font-family: "Myriad Pro", sans-serif;

    font-size: 43px;
}

/* fs 26 lh 15 lspa 0.02em */
.slogan_two {
    color: rgba(145, 28, 7, 1.0);

    font: 26px/15px Arial, sans-serif;
    letter-spacing: 0.02em;

    text-indent: 70px;
}

/* An Menu Item DIMs :
    Width : 910 - padL/125 = 785
    Height : 34 - 2 * 1px/brd - 2 * 3px/Pad == 26
    Border-width : 1px

    Item 1 { padL : 21px, padR: 19px ==> pad == 40px }

*/

/* A menu's Item in hiver-state */

.header_menu {
    width: 785px;
    height: 26px;

    padding-left: 128px;

    padding-top: 3px;
    padding-bottom: 3px;

/*    border: 1px solid rgba(23, 28, 67, 1.0);*/
    border: 1px solid transparent;

    border-radius: 5px;

    margin-left: 1px;
    margin-top: 6px;

    background-image: linear-gradient(
        rgba(90, 96, 103, 1.0),
        rgba(137, 143, 150, 1.0) 4%,
        rgba(47, 49, 51, 1.0) 24%,
        rgba(0, 0, 0, 1.0));

    text-align: center;
}

.core_menu {
    float: left;

}

.core_menu li {
    float: left;

    height: 26px;

    color: rgba(179, 186, 190, 1.0);

    font: 13.64px/27px "Lucida Sans Unicode", sans-serif;
}

.core_menu li:hover {
    border-radius: 12px;

    background-image: linear-gradient(rgba(0, 188, 212, 1.0), rgba(6, 91, 152, 1.0));

    color: rgba(255, 255, 255, 1.0);
}

.core_menu li:first-child {
    width: 123px;
}

.core_menu li:nth-child(2) {
    width: 86px;
    margin-left: 1px;
}

/* 103 = 14 + 74 + 15  */
.core_menu li:nth-child(3) {
    width: 103px;
    margin-left: 2px;
}

/* 81 = 15 + 53 + 13 */
.core_menu li:nth-child(4) {
    width: 81px;
    margin-left: 2px;
}

/* 102 = 13 + 74 + 15 */
.core_menu li:nth-child(5) {
    width: 99px;
}


.user_basket_info {
    float: left;
    width: 196px;

    height: 26px;
    padding-left: 30px;

    margin-left: 57px;

    background-image: url("../img/icon-basket.svg");
    background-size: 21px 18px;
    background-position: 0 4px;
    background-repeat: no-repeat;

    color: rgba(147, 154, 157, 1.0);
    font-family: Arial, sans-serif;
    font-size: 11px;

    line-height: 25px;

    letter-spacing: 0.04em;
    text-align: left;
}

.basket_qnty,
.basket_sum {
    color: rgba(53, 90, 140, 1.0);

    font-family: Arial, sans-serif;
    font-size: 12px;

    vertical-align: middle;
}

.basket_qnty {
    padding-left: 1px;
    padding-right: 10px;
}

.basket_sum {
    padding-left: 9px;
}

/* The Multi-Search Panel
    An element substitute in the form of BG-image
        Dims: 901 x 136
        Margin T, L { 6, 11 }
*/
.search_panel {
    width: 901px;
    height: 136px;

    margin-top: 11px;
    margin-left: 6px;
    margin-bottom: 13px;

    background-color: pink;
    background-image: url("../img/bg-search-panel-specimen.png");
}

/* Center SPACE where Vertical Sidebars and Core content reside

*/

/*
.center-space-zoo::after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
*/

/* ASIDE Dims: 190 x 630 */
.shop_catalogue {
    float: left;
    width: 190px;

    padding-top: 5px;
    margin-left: 1px;
}

.catalogue {
}

/*
    Total DIMs { 183 x 27 },
        i.e. Width : 183 - 2 * 1px - 30/padL = 151 , Height : 25
        Border : 2 * 1px = 2

*/
.nav_name {
    position: relative;
    display: block;

    width: 151px;
    height: 25px;
    padding-left: 28px;

    border: 1px solid rgba(124, 134, 139, 1.0);
    border-radius: 14px;

    color: rgba(42, 67, 100, 1.0);

    font: 12.73px/26px "Lucida Sans Unicode", sans-serif;

    box-shadow: 3px 3px 7px -4px rgba(20, 17, 12, 1.0);
    /* It (i.e. text-indent) is used now in place of Left-padding
    which should be considered to set the proper Width value otherwise ! */
/*    text-indent: 30px;*/
}

.nav_name::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;

    width: 22px;
    height: 21px;

    border-radius: 50%;

    background-image:
        url("../img/icon-doc-my-01-02.svg"),
        linear-gradient(
            0deg,
            rgba(70, 124, 150, 1.0),
            rgba(25, 87, 120, 1.0) 30%,
            rgba(20, 76, 111, 1.0) 50%,
            rgba(15, 60, 96, 1.0) 70%,
            rgba(13, 54, 91, 1.0) 100%
        );
    background-repeat: no-repeat, no-repeat;
    background-size: 12px 14px, 22px 21px;
    background-position: center, 0 0;
}

.nav_name {
    margin-bottom: 13px;
}

/*.catalogue section:nth-child(an+b) {
    margin-top: 6px;
}*/

/* I hided the next CSS-rule since up 2 front ones are smarter than it */
.catalogue section:nth-child(2) {
    margin-top: 13px;
}

.catalogue section:nth-child(3) {
    margin-top: -4px;
}

/*.catalogue section:nth-child(3)  ul.item_list*/
.catalogue section:nth-child(3) ul {
/*    margin-top: -1px;*/
}

.catalogue section:nth-child(3) h2 {
/*    padding-top: 1px;*/
}

.catalogue section:nth-child(4) {
    margin-top: -4px;
}


/*
    Total DIMs { 150 x 28 },
        i.e. Width : 150 - 2 * 1px - 30/padL = 118 , Height : 26
        Border : 2 * 1px = 2

*/
.catalogue .item_category {
    margin-left: 2px;
}

.item_category {
    position: relative;

    width: 118px;
    height: 26px;
    padding-left: 29px;

    border: 1px solid rgba(124, 134, 139, 1.0);
    border-radius: 13px;

    color: rgba(42, 67, 100, 1.0);

    font: 14px/30px "Lucida Sans Unicode", sans-serif;
}

.item_category::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;

    border-radius: 50%;
    border: 6px solid rgba(42, 67, 100, 1.0);

    width: 12px;
    height: 12px;

    border-radius: 50%;
    border: 6px solid rgba(42, 67, 100, 1.0);
    border-width: 5px;
}

.catalogue section:nth-child(n+3) .item_category::before {
/*    left: 2px;
    top: 2px;*/

/*    border-color: yellow;*/
}

.item_list {
    margin-left: 37px;
}

.item_list li {
    position: relative;
    padding-left: 11px;

    /* To look more perfect for the LI-hover zone,
        I have added the Right Margin
    */
    margin-right: 20px;

    list-style: none;
    list-style-position: inside;

    color: rgba(77, 89, 97, 1.0);

    font: 12.73px/25.46px "Lucida Sans Unicode", sans-serif;
    line-height: 26px;
}

/* The circle-like marker will be made of a Rounded Border of the needed colour
    Circle-Marker Dims : Total 8 x 8
        borderWidth : 3
        borderRadius : 3
        Content W = 2 = 8 - 2 * 3px, H = 2 = 8 - 2 * 3px
*/


.item_list li::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0px;

    width: 3px;
    height: 3px;

    border: 2px solid rgba(124, 134, 139, 1.0);
    border-radius: 4px;
}

.item_list li a {
    display: block;

    color: inherit;

    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
}

.item_list li a:hover {
    color: rgba(34, 53, 86, 1.0);

    font-family: Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.item_list li:hover::before {
    border-color: rgba(34, 53, 86, 1.0);
}

.item_list li:nth-child(3) {
    margin-top: -1px;
}


/* Total DIMs : 528 x 629
    Width = 528 - 15/padL = 513

*/
.main_content {
    float: left;
    width: 503px;
    height: 612px;
    padding-top: 15px;
    padding-left: 23px;
    margin-left: 1px;

    /* unreal colour taken from the psd-file */
    border: 1px solid rgba(42, 46, 62, 0.7);

    border: 1px solid rgba(105, 108, 120, 1.0);
    border-radius: 4px;


    border-top-width: 2px;
    border-top-color: rgba(185, 186, 192, 1.0);
    border-bottom-color: rgba(125, 128, 138, 1.0);
    background-image:
        linear-gradient(
            rgba(229, 230, 231, 1.0),
            rgba(215, 219, 222, 1.0) 25%,
            rgba(189, 197, 201, 1.0) 50%,
            rgba(170, 180, 186, 1.0) 70%,
            rgba(156, 167, 176, 1.0)
    );
}

/* Brand Space ; 183 x 630 */
/*
    Total DIMs { 183 x 27 },
        i.e. Width : 183 - 2 * 1px - 30/padL = 151 , Height : 25
        Border : 2 * 1px = 2

*/
.brand_lists {
    float: left;
    width: 183px;

    padding-top: 3px;
    margin-left: 10px;
}

.brand_lists form legend {
    position: relative;
    display: block;

    width: 151px;
    height: 25px;
    padding-left: 28px;

    border: 1px solid rgba(124, 134, 139, 1.0);
    border-radius: 14px;

    color: rgba(42, 67, 100, 1.0);

    font: 14px/26px "Lucida Sans Unicode", sans-serif;

    /* It (i.e. text-indent) is used now in place of Left-padding
    which should be considered to set the proper Width value otherwise ! */
    /*    text-indent: 30px;*/

    box-shadow: 3px 3px 7px -4px rgba(20, 17, 12, 1.0);
}

.brand_lists form legend::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;

    width: 22px;
    height: 21px;

    border-radius: 50%;

    background-image:
        url("../img/icon-doc-my-01-02.svg"),
        linear-gradient(
            0deg,
            rgba(70, 124, 150, 1.0),
            rgba(25, 87, 120, 1.0) 30%,
            rgba(20, 76, 111, 1.0) 50%,
            rgba(15, 60, 96, 1.0) 70%,
            rgba(13, 54, 91, 1.0) 100%
        );
    background-repeat: no-repeat, no-repeat;
    background-size: 12px 14px, 22px 21px;
    background-position: center, 0 0;
}

.brand_lists form legend {
    margin-bottom: 14px;
}

/*
    A Brand Item :
    Total DIMs { 136 x 28 },
        i.e. Width : 136 - 2 * 1px - 31/padL = 103 , Height : 26
        Border : 2 * 1px = 2

*/
.form-brand_selection dl {
    margin-left: 15px;
}


.form-brand_selection fieldset dl:nth-child(3) {
    margin-left: 14px;

    margin-top: 8px;
}

.form-brand_selection dt {
    position: relative;
/*    display: block;*/

    width: 103px;
    height: 26px;
    padding-left: 29px;

    border: 1px solid rgba(124, 134, 139, 1.0);
    border-radius: 13px;

    margin-bottom: 3px;

    color: rgba(42, 67, 100, 1.0);

    font: 14px/26px Arial, sans-serif;
}

 /* t 1 l 2 w 12 h 12 borderRad 50% bWidth 5 */
.form-brand_selection dt::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;

    width: 12px;
    height: 12px;

    border-radius: 50%;
    border: 6px solid rgba(42, 67, 100, 1.0);
    border-width: 5px;
}

.form-brand_selection fieldset dl:nth-child(3) dt{
    margin-bottom: 5px;
}

/* NB ! The designer's 2nd circle with the name DISKS is narrower the 1st one at 2 pixels and stays 1 pixel to the left */
.form-brand_selection fieldset dl:nth-child(3) dt::before {
    left: 2px;
}

.form-brand_selection dd {
    margin-left: 11px;
    margin-left: 9px;
}

.form-brand_selection input[type="checkbox"] {
/*    visibility: hidden;*/
    display: none;
}

.form-brand_selection input[type="checkbox"] + label {
    position: relative;
    display: block;

    padding-left: 12px;
    padding-left: 24px;

    color: rgba(77, 89, 97, 1.0);
    font: 12.73px/25px "Lucida Sans Unicode", sans-serif;
}

/* check mark : CSS Code '\2713  (ie HEX-Code wo hex-prefixes)
    URL: stackoverflow.com/questions/4041720/html-code-for-text-checkbox
☐, U+2610 Ballot box
☑, U+2611 Ballot box with check
*/

.form-brand_selection input[type="checkbox"] + label::before {
    content: '\2610';
    position: absolute;

    left: 0px;
    top: 0px;

    width: 10px;
    height: 10px;

    text-shadow: 1px 1px 2px;
}


.form-brand_selection input[type="checkbox"]:checked + label::before {
    content: '\2611';
}

/* Full SUBMIT btn DIMs { 82 x 26 }
    W = 80, H = 24, BrdbrWidth = 1
*/


.form-brand_selection input[type="submit"] {
    width: 82px;
    height: 26px;

    padding: 0;

    border: 1px solid rgba(167, 169, 172, 1.0);
    border-radius: 13px;

    margin-left: 23px;
    margin-top: 13px;

    background-image: linear-gradient(
        rgba(0, 188, 212, 1.0),
        rgba(6, 91, 152, 1.0)
    );

    color: rgba(229, 232, 233, 1.0);

    font: 11px Arial, sans-serif;
    font-size: 11px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 0.084em;
}


/* Main CONTENT description goes here ... */


.item_descr figcaption h3 {
    color: rgba(66, 105, 134, 1.0);

    font: 14.59px "Lucida Sans Unicode", sans-serif;
    font-weight: bold;
    line-height: 14px;
    text-indent: 33px;
}

.item_descr figcaption p {
    color: rgba(38, 42, 44, 1.0);

    font: 12.77px "Lucida Sans Unicode", sans-serif;
    line-height: 14px;
    text-indent: 14px;
}

.item_price {
    color: rgba(42, 67, 100, 1.0);

    font: 16px/10.03px Arial, sans-serif;
    font-style: italic;
    font-weight: bold;

    line-height: 24px;
    text-indent: 38px;
}


.item_price span {
    padding-left: 7px;
    font-size: 12px;
}

/* Fig DIMs { 140 x 129 }
    Width: 138
    Height: 127
    Border T/1, B/1, L/2, R/2 => 2px/Hor, 2px/vert_char_bar

*/


.item_descr {
    float: left;

    width: 138px;
    height: 177px;

    margin-right: 29px;
    margin-bottom: 25px;

/*    text-align: center;*/
}

.item_descr .img_container {
    overflow: hidden;

    width: 137px;
    height: 127px;

    border: 1px solid rgba(165, 172, 175, 1.0);
    border-radius: 7px;

    background-color: rgba(255, 255, 255, 1.0);

    text-align: center;
}

.item_descr img {
    width: 79px;
    height: 118px;
    padding-top: 4px;
}

/* ------------------------------------------------------------- */

/* NB ! The 2nd Item is shifted with relation to the 1st one.
    That is why I apply correction settings here !
 */

.main_content .item_descr:nth-child(3n-1) {
/*    background-color: yellow;*/
}

.main_content .item_descr:nth-child(3n-1) h3 {
    text-indent: 45px;
}

.main_content .item_descr:nth-child(3n-1) figcaption p {
    text-indent: 25px;
}

.main_content .item_descr:nth-child(3n-1) .item_price {
    line-height: 25px;

    text-indent: 34px;
    letter-spacing: 0.04em;
}

.main_content .item_descr:nth-child(3n-1) .item_price span {
    padding-left: 6px;
}

/* ----------------------------------------------------- */
/* NB ! The 3rd Item is with same state. Let's correct it ! */

.main_content .item_descr:nth-child(3n) {
/*    background-color: yellow;*/
}

.main_content .item_descr:nth-child(3n) h3 {
    text-indent: 40px;
}

.main_content .item_descr:nth-child(3n) figcaption p {
    text-indent: 12px;
}

.main_content .item_descr:nth-child(3n) .item_price {
    line-height: 24px;

    text-indent: 35px;
    letter-spacing: 0.04em;
}

.main_content .item_descr:nth-child(3n) .item_price span {
    padding-left: 5px;
}

/* ----------------------------------------------------- */
/* NB ! The 5th and 6th Items are shifted at 1px to the top. Let's correct them ! */


.main_content .item_descr:nth-child(5) {
/*    background-color: lime;*/
}

.main_content .item_descr:nth-child(5) h3 {
    text-indent: 44px;
    line-height: 12px;
}

.main_content .item_descr:nth-child(5) figcaption p {
    line-height: 16px;
}

.main_content .item_descr:nth-child(5) .item_price {
    line-height: 23px;
}

/* ----------------------------------------------------- */
/* NB ! The 6th Let's correct it ! */

.main_content .item_descr:nth-child(6) {
    /* Mark-Up, tests */
/*    background-color: rgba(129, 119, 214, 0.51);*/
}


.main_content .item_descr:nth-child(6) h3 {
    text-indent: 40px;
    line-height: 14px;
}

.main_content .item_descr:nth-child(6) .item_price {
    line-height: 24px;
}


/* the 7th, 8th, 9th ones ****************************** */
.main_content .item_descr:nth-child(7) h3 {
    text-indent: 32px;
    line-height: 16px;
}

.main_content .item_descr:nth-child(7) figcaption p {
    line-height: 13px;
    text-indent: 14px;
}

.main_content .item_descr:nth-child(7) .item_price {
    line-height: 25px;
}

/* ******** the 8th */

.main_content .item_descr:nth-child(8) h3 {
    line-height: 18px;
}

.main_content .item_descr:nth-child(8) figcaption p {
    line-height: 11px;
}

.main_content .item_descr:nth-child(8) .item_price {
    line-height: 25px;
}

/* the 9th element **************** */
.main_content .item_descr:nth-child(9) {
    /* Mark-Up, tests */
/*    background-color: rgba(229, 119, 214, 0.51);*/
}


.main_content .item_descr:nth-child(9) h3 {
    text-indent: 40px;
    line-height: 18px;
}

.main_content .item_descr:nth-child(9) .item_price {
    line-height: 26px;
}

.main_content .item_descr:nth-child(9) figcaption p {
    text-indent: 12px;
    line-height: 11px;
}

/* Footer SPACE ... */
.footer_space {

}

.brand_ribbon {
    width: 913px;
    height: 89px;
}

/* Core FOOTER Dims : 909 x 100
    width: 907 = 909 - 2 * 1/BrdrL,R
    height: 909 = 100 - 1/BrdrT
*/

.core_footer {
    width: 907px;
    height: 99px;
    /* Photoshop colour : rgba(46, 61, 78, 1.0) */
    border: 1px solid rgba(43, 48, 64, 1.0);
    border-bottom-style: none;

    margin: 0 2px;


    /* Photoshop colour : rgba(46, 61, 78, 1.0)*/
    background-color: rgba(46, 61, 78, 1.0);
    background-color: rgba(36, 54, 74, 1.0);
    background-color: rgba(26, 47, 70, 1.0);
    background-color: rgba(9, 47, 66, 1.0);
}

.company_infolist {
    margin-top: 7px;
    margin-left: 294px;
}

.company_infolist li {
    float: left;

    color: rgba(191, 197, 200, 1.0);
}

.company_infolist li a {
    border-right: 2px solid rgba(191, 197, 200, 1.0);
    color: rgba(191, 197, 200, 1.0);


    font: 12px Arial, sans-serif;
    line-height: 20px;
    text-decoration: none;
    letter-spacing: 0.029em;
}

.company_infolist li a:hover {
    color: rgba(116, 170, 201, 1.0);
}

.company_infolist li:first-child a {
    padding-left: 14px;
    padding-right: 11px;
}

.company_infolist li:nth-child(2) a {
    padding-left: 12px;
    padding-right: 12px;
}


.company_infolist li:nth-child(3) a {
    padding-left: 11px;
    padding-right: 12px;
}

.company_infolist li:nth-child(4) a {
    padding-left: 15px;
    padding-right: 14px;
}

.company_infolist li:last-child a {
    border-right-style: none;
}

/* The vertical Char-based bar is used a separator between 2 buttons */
.vert_char_bar-02 {
/*    display: inline-block;*/
/*    height: 18px;*/

    background-color: transparent;
/*    color: rgba(255, 255, 255, 1.0);*/

/*    font: 11px "Lucida Sans Unicode", sans-serif;
    line-height: 18px;*/
}

.info_webdev {
/*    clear: both;*/
    margin-top: 8px;

    /* A strange Phostoshop colour's value */
    color: rgba(90, 68, 71, 1.0);
    color: rgba(152, 77, 49, 1.0);


    font: 10px Arial, sans-serif;
    line-height: 18px;

    text-align: center;
}

.info_webdev a {
    color: inherit;
    text-decoration: none;
}

/* My BrandList DIMs w an Icon's <RightMargin> :
    <the LeftMargin> before the 1st Icon is 119/27

    Full Width : 709 (Width(i)+rightMargin(i) = 83+12	97/14	77/21	59/21	77/13	57/27	61/14	72/13

    MiddleGAP between ICONs ...
    12 	13 	15 	12 	13 	13 	15
    Width/Height
    83/21	97/14	77/21	59/21	77/13	57/27	61/14	72/13

*/

.brand_ribbon ul {
    width: 709px;
    height: 27px;

    padding-top: 38px;
    padding-top: 41px;

    margin-left: 119px;
}

.brand_ribbon ul li {
    float: left;
    height: 27px;
}

/* brand ToyoTires */
.brand_ribbon li:first-child a {
    display: block;
    width: 83px;
    height: 21px;

    margin-right: 12px;

    background-image: url("../img/brand-icon-ToyoTires-g.svg");
    background-size: 83px 21px;
    background-repeat: no-repeat;
}

.brand_ribbon li:first-child a:hover {
    background-image: url("../img/brand-icon-ToyoTires.svg");
}

/* brand BridgeStone */
.brand_ribbon li:nth-child(2) a {
    display: block;
    width: 97px;
    height: 14px;

    margin-right: 13px;

    background-image: url("../img/brand-icon-BridgeStone-g.svg");
    background-size: 97px 14px;
    background-repeat: no-repeat;
}

.brand_ribbon li:nth-child(2) a:hover {
    background-image: url("../img/brand-icon-BridgeStone.svg");
}

/* brand Continental Tire */
.brand_ribbon li:nth-child(3) a {
    display: block;
    width: 77px;
    height: 21px;

    margin-right: 15px;

    background-image: url("../img/brand-icon-ContinentalTire-g.svg");
    background-size: 77px 21px;
    background-repeat: no-repeat;
}

.brand_ribbon li:nth-child(3) a:hover {
    background-image: url("../img/brand-icon-ContinentalTire.svg");
}

/* brand Cooper Tires */
.brand_ribbon li:nth-child(4) a {
    display: block;
    width: 59px;
    height: 21px;

    margin-right: 15px;
    margin-right: 11px;    /* to proper allocate the next Brand's icon, the AVON Tires */

    background-image: url("../img/brand-icon-CooperTires-g.svg");
    background-size: 59px 21px;
    background-repeat: no-repeat;
}

.brand_ribbon li:nth-child(4) a:hover {
    background-image: url("../img/brand-icon-CooperTires.svg");
}

/* brand AVON Tires */
.brand_ribbon li:nth-child(5) a {
    display: block;
    width: 77px;
    height: 13px;

    margin-right: 13px;

    background-image: url("../img/brand-icon-AVONTires-g.svg");
    background-size: 77px 13px;
    background-repeat: no-repeat;
}

.brand_ribbon li:nth-child(5) a:hover {
    background-image: url("../img/brand-icon-AVONTires.svg");
}

/* brand Roemer's Tire Factory */
.brand_ribbon li:nth-child(6) a {
    display: block;
    width: 57px;
    height: 27px;

    margin-right: 13px;

    background-image: url("../img/brand-icon-RoemersTireFactory-g.svg");
    background-size: 57px 27px;
    background-repeat: no-repeat;
}

.brand_ribbon li:nth-child(6) a:hover {
    background-image: url("../img/brand-icon-RoemersTireFactory.svg");
}

/* brand Pirelli */
.brand_ribbon li:nth-child(7) a {
    display: block;
    width: 61px;
    height: 14px;

    margin-right: 15px;

    background-image: url("../img/brand-icon-Pirelli-g.svg");
    background-size: 61px 14px;
    background-repeat: no-repeat;
}

.brand_ribbon li:nth-child(7) a:hover {
    background-image: url("../img/brand-icon-Pirelli.svg");
}

/* brand Dunlop */
.brand_ribbon li:nth-child(8) a {
    display: block;
    width: 72px;
    height: 13px;

    background-image: url("../img/brand-icon-Dunlop-g.svg");
    background-size: 72px 13px;
    background-repeat: no-repeat;
}

.brand_ribbon li:nth-child(8) a:hover {
    background-image: url("../img/brand-icon-Dunlop.svg");
}
